<footer class="ola">
    <div class="content">
      <div class="left box">
        <div class="upper">
          <div class="topic">About us</div>
          <p>CodingLab is a channel where you can learn HTML,
          CSS, and also JavaScript along with creative CSS Animations and Effects.</p>
        </div>
        <div class="lower">
          <div class="topic">Contact us</div>
          <div class="email">
            <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i>afro.you@outlook.com.br</a>
          </div>
        </div>
      </div>
      <div class="middle box">
        <div class="topic">Our Services</div>
        <div><a href="#">Web Design, Development</a></div>
        <div><a href="#">Web UX Design, Reasearch</a></div>
        <div><a href="#">Web User Interface Design</a></div>
        <div><a href="#">Theme Development, Design</a></div>
        <div><a href="#">Mobile Application Design</a></div>
        <div><a href="#">Wire raming & Prototyping</a></div>
      </div>
      <div class="right box">
        <div class="topic">Subscribe us</div>
        <form action="#">
          <input type="text" placeholder="Enter email address">
          <input type="submit" name="" value="Send">
          <div class="media-icons">
            <a href="https://www.facebook.com/profile.php?id=100075971979999" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/afroyouoficial/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="https://twitter.com/Afroyouoficial/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          </div>
        </form>
      </div>
    </div>
    <div class="bottom">
      <p>Copyright © 2020 <a href="#">AfroYou</a> All rights reserved</p>
    </div>
  </footer>