<nav class="navbar navbar-expand-lg navbar-light menu-cor sticky-top">
    <img href="#" class="logo ml-3" src="https://i.imgur.com/jlwqBG9.png" alt="">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
  <nav class="collapse navbar-collapse" id="navbarSupportedContent">
      
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto fonte-cor">
  
        <li class="nav-item active item-form">
          <a class="nav-link">HOME<span class="sr-only"></span></a>
        </li>
  
        <li class="nav-item active item-form">
          <a class="nav-link">SOBRE<span class="sr-only"></span></a>
        </li>
  
        <li  class="nav-item active item-form" data-toggle="modal" data-target="#novaPostagem">
          <a class="nav-link" href="#">NOVO SERVIÇO<span class="sr-only"></span></a>
        </li>
  
         <li  class="nav-item active item-form">
          <a class="nav-link">MEUS SERVIÇOS<span class="sr-only"></span></a>
        </li> 
  
      </ul>
      <form class="form-inline my-2 my-lg-0  justify-content-end align-items-end ">
        <input name="tituloPost" class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline my-2 my-sm-0 botao-cor" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
      </form>
  
      <ul class="navbar-nav ml-auto d-flex align-items-center fonte-cor"> 
        <li  class="nav-item active">
          <img src="https://i.imgur.com/3PcU6T5.jpg" alt="imagem do usuário" width="50px" height="50px" class="img-fluid rounded-circle">
      </li>
      <li  class="nav-item pl-3">
          <p class="m-0  corpreto fs-16">Olá, </p>
      </li>
      <li  class="nav-item pl-3 padUsuario">
          <a>
              <p class="corpreto fs-16 m-0"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></p>
          </a>
      </li>
        <li  class="nav-item active item-form">
          <a class="nav-link" >ENTRAR<span class="sr-only"></span></a>
        </li>
        <li  class="nav-item pl-3">
            <a class="m-0  corpreto fs-16 ">Sair <i class="fa fa-sign-out" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
  </nav>
  </nav>
  
  
    
  
  
      
    