<div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://i.imgur.com/0UEzudH.png" class="d-block w-100 imgcarrossel" alt="...">
      </div>
</div>
<div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://i.imgur.com/GG3jikR.png" class="d-block w-100 imgcarrossel2" alt="...">
    </div>
</div>



<section class="cinza PT2" id="sobre">
  <div class="container pt-5 pb-4 PT">
    <article class="postcard light blue" data-aos="fade-up-right">
      <div class="postcard__text t-dark">
        <h1 class="postcard__title blue pl-1" ><a href="#">Sobre</a></h1>
        <div class="postcard__subtitle small">
          <time datetime="2020-05-25 12:00:00">
            <i class="fas fa-calendar-alt mr-2"></i>AfroYou
          </time>
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt"><p> DJ há mais de 20 anos, o morador do pazzine iniciou sua carreira dentro do cenário black music com a criação da rádio vox, onde ficou até 2005.
          Com uma coleção de mais de 3.000 LP 's, Ricardo tem como especialidade o samba rock, o flash back e a melodia, mas também passeia pelo hip hop, rap e acid jazz contemporâneo.
          Hoje o DJ faz parte da equipe do musicália, tradicional baile black de sp, além de se apresentar semanalmente no programa ao vivo vinil em movimento e marcar presença também em diversos outros espaços blacks de sp.</p>
          </div>
        <ul class="postcard__tagbox">

          <div class="rs">
          <div class="wrapper">
            
            <a href="" target="_blank">
            <div class="icon facebook">
              <div class="tooltip">Facebook</div>
              <span><i class="fa fa-facebook" aria-hidden="true"></i></span>
            </div>
          </a>

            <a href="" target="_blank">
            <div class="icon instagram">
              <div class="tooltip">Instagram</div>
              <span><i class="fa fa-instagram" aria-hidden="true"></i>
              </span>
            </div>
          </a>

          <a href="" target="_blank">
            <div class="icon youtube">
              <div class="tooltip">Twitter</div>
              <span><i class="fa fa-twitter" aria-hidden="true"></i>
              </span>
            </div>
          </a>

          </div>
        </div>

        </ul>
      </div>
    </article>
    
  </div>
</section>