<div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://i.imgur.com/0UEzudH.png" class="d-block w-100 imgcarrossel" alt="...">
      </div>
</div>
<div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://i.imgur.com/FKuwmSy.png" class="d-block w-100 imgcarrossel2" alt="...">
    </div>
</div>



<section class="cinza PT2" id="sobre">
  <div class="container pt-5 pb-4 PT">
    <article class="postcard light blue" data-aos="fade-up-right">
      <div class="postcard__text t-dark">
        <h1 class="postcard__title blue pl-1" ><a href="#">Sobre</a></h1>
        <div class="postcard__subtitle small">
          <time datetime="2020-05-25 12:00:00">
            <i class="fas fa-calendar-alt mr-2"></i>AfroYou
          </time>
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt"><p>Somos um comunidade com intuito de fortalecer conexões entre pessoas pretas para promover aos empreendedores pretos oportunidades de se desenvolver através de estratégias empreendedores sob orientação de mentores,além de motivar e inspirá-los para maior engajamento, proporcionar parcerias entre os pretos. Nossa missão é , além de fortalecer estas conexões exercer um papel marcante de transformação social.</p>
          </div>
        <ul class="postcard__tagbox">

          <div class="rs">
          <div class="wrapper">
            
            <a href="https://www.facebook.com/profile.php?id=100075971979999" target="_blank">
            <div class="icon facebook">
              <div class="tooltip">Facebook</div>
              <span><i class="fa fa-facebook" aria-hidden="true"></i></span>
            </div>
          </a>

            <a href="https://www.instagram.com/afroyouoficial/" target="_blank">
            <div class="icon instagram">
              <div class="tooltip">Instagram</div>
              <span><i class="fa fa-instagram" aria-hidden="true"></i>
              </span>
            </div>
          </a>

          <a href="https://twitter.com/Afroyouoficial/" target="_blank">
            <div class="icon youtube">
              <div class="tooltip">Twitter</div>
              <span><i class="fa fa-twitter" aria-hidden="true"></i>
              </span>
            </div>
          </a>

          </div>
        </div>

        </ul>
      </div>
    </article>
    
  </div>
</section>